<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Groceries</title>
</head>
<body>
    <a href="/calendar">Calendar</a>
    <h1>Groceries</h1>
    <form action="/groceries" method="POST">
        <input type="text" name="item" id="item">
        <select name="category" id="category">
                    <% categories.map((category, index) => { %>
            <option value="<%= index + 1 %>"><%= category.category %></option>
        <%  }); %>
        </select>
        <button type="submit" id="addItemBtn">Add</button>
    </form>
    <div class="categories">
        <% categories.map(category => { %>
            <div class="category">
                <% const capital = category.category.slice(0,1).toUpperCase(); 
                   const body = category.category.slice(1); 
                   const categoryName = capital + body %>

                <h3><%= categoryName %></h3>
                <ul>
                    <% items.map(item => { %>
                        <% if(item.category_id == category.id){ %>
                            <li>
                                <div class="item-name" onclick="return this.classList.toggle('in-cart')"><%= item.item %></div>
                            </li>
                        <% }; %>
                    <%  }); %>
                </ul>
            </div>
        <%  }); %>
    </div>
    <script>
        document.querySelectorAll('.category').forEach(child => {
            child.addEventListener('click', function(){
                category.selectedIndex = Array.from(this.parentElement.children).indexOf(this);
                if(item.value !== ''){
                    addItemBtn.click();
                }
            });
        });
    </script>
    <form action="/groceries/delete" method="post" id="clear-list-button">
        <button onclick="return confirm('Clear List?')">Clear List</button>
    </form>
</body>
</html>