<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groceries</title>
</head>
<body>
    <h1>Groceries</h1>
    <form action="/" method="POST">
        <input type="text" name="item" id="item">
        <select name="category" id="category">
                    <% categories.map((category, index) => { %>
            <option value="<%= index + 1 %>"><%= category.category %></option>
        <%  }); %>
        </select>
        <button type="submit">Add</button>
    </form>
        
        <% categories.map(category => { %>
            <h3><%= category.category %></h3>
            <ul>
                
            </ul>
        <%  }); %>
</body>
</html>