<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Welcome</h1>
    <div id="weather">
            <div id="currentTemp"></div>
            <div id="feelsLike"></div>
            <div id="currentHumidity"></div>
            <div id="time"></div>
        <script>
            let data;
            async function fetchData(){
                data = await fetch('http://api.weatherapi.com/v1/current.json?key=<%= KEY %>&q=edmonton&aqi=yes').then(r=>r.json()).then(d => (d));
                console.log(data)
                currentTemp.textContent = `Current Temp: ${data.current.temp_c}\u00B0C` ;
                feelsLike.textContent = `Feels Like: ${data.current.feelslike_c}\u00B0C`;
                currentHumidity.textContent = `Current Humidity: ${data.current.humidity}%`;
                time.textContent = `As of: ${new Date().toLocaleTimeString()}`
            }
            fetchData();
        </script>
    </div>
    <form action="/groceries" method="get" class="login-section">
        <!-- <label for="username">Username:</label>
        <input type="text" id="username" name="username" >
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" > -->
        <!-- <button>Log in</button> -->
         <button>Enter</button>
    </form>
</body>
</html>